<modal-header ng-show="showHeader" close-btn="headerCloseBtn">
    <h3>{{title}}</h3>
</modal-header>
<modal-body>
    <p>
        {{msg}}
    </p>
</modal-body>
<modal-footer>
    <button class="btn {{getClass(btn.cls)}}" ng-click="invokeHandler(btn)" ng-repeat="btn in footerBtn">{{btn.label}}</button>
</modal-footer>