<div class="modal-header noBorder" >
     <button type="button" ng-show="$closeBtn" ng-click="$dismiss()" class="close" data-dismiss="modal" ><span aria-hidden="true" class="icon-close-popup"></span><span class="sr-only">Close</span></button>
     <div class="modal-title text-center" data-ng-transclude></div>
 </div>